<div class="beer-details row justify-content-m-around">
	<div class="name col-xs-12 col-md-2">
		<h5>{{name}}</h5>
		<img src={{imgSrc}}>
	</div>
	<div class="details col-xs-12 col-md-7">
		<p>{{details}}</p>
	</div>
	<div class="d-flex flex-column justify-content-around col-xs-12 col-md-3">
		<button type="button" (click)="loadRandomBeer()" class="another-beer btn btn-primary">Another Beer</button>
		<button type="button" class="more-beer btn btn-primary">More From This Brewery</button>
	</div>	
</div>