<div class="beer-details row justify-content-m-around">
	<div class="name col-xs-12 col-md-2">
		<h5>Beer Name</h5>
		<img src="https://www.guinness.com/media/1538/guinness_draught_spritzr06bg1_resized_1600-h.jpg">
	</div>
	<div class="details col-xs-12 col-md-7">
		<p>Beer Details</p>
	</div>
	<div class="d-flex flex-column justify-content-around col-xs-12 col-md-3">
		<button type="button" class="btn btn-primary">Another Beer</button>
		<button type="button" class="btn btn-primary">More From This Brewery</button>
	</div>	
</div>